.igdc_IG2007EditWithButtons
{
}


.igdc_IG2007Calendar
{
    background-color:#FFFFFF;
    border:solid 1px #ABC1DE;
}


.igdc_IG2007EditInContainer
{
	background-color:Transparent;
	border:solid 1px #ABC1DE;
	outline:0;
}


.igdc_IG2007Button
{
}


.igdc_IG2007ButtonHover
{
}


