.igtbl_IG2007Control
{
	border-color:Gainsboro;
	cursor:default;
}


.igtbl_IG2007PagerArea
{
	background-color:WhiteSmoke;
	border-width:0px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
}


.igtbl_IG2007PageCurrent
{
	background-repeat:no-repeat;
	background-image: url(images/submit_hover.gif);
	margin-right:10px;
	padding:2px 8px 5px 5px;
}


.igtbl_IG2007PageLink
{
	margin-right:10px;
	color:DimGray;
}


.igtbl_IG2007GroupByBox
{
	background-color:#F9FBFC;
	background-image: url(images/groupbyheader.gif);
	font-weight:bold;
	font-size:11px;
	height: 23px;
	color:#699BC9;
}


.igtbl_IG2007AddNewBox
{
	background-color:#FAFAFA;
	background-repeat:repeat-x;
	background-image:none;
	border-bottom-width:1px;
	border-bottom-style:solid;
}


TBODY.igtbl_IG2007Item TR TD, THEAD.igtbl_IG2007Item TR TH, TFOOT.igtbl_IG2007Item TR TH, TBODY.igtbl_IG2007Item TR TH
{
	border:solid 1px Transparent;
	border-right-color: LightGrey;
	border-bottom-color: LightGrey;
	height: 18px;
}


.igtbl_IG2007FilterOperandButton
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/submit_disable.gif);
	border-width:0px;
	padding-top:2px;
	width: 18px;
}


TBODY.igtbl_IG2007Item TR.igtbl_IG2007Alt TD
{
}


.igtbl_IG2007Edit
{
	background-color:White;
	font-size:x-small;
	font-family: Verdana;
	border:solid 1px Transparent;
	padding-top:7px;
	text-align:left;
	vertical-align:middle;
}


.igtbl_IG2007Button
{
}


TBODY.igtbl_IG2007Item TR TD.igtbl_IG2007FxdCell
{
}


THEAD.igtbl_IG2007Header TR TH, TFOOT.igtbl_IG2007Header TR TH, TBODY.igtbl_IG2007Header TR TH
{
	background-color:Transparent;
	background-position:bottom ;
	background-image: url(images/header.gif);
	border-width:0px;
	border-color:Transparent;
	padding-top:3px;
	padding-bottom:3px;
	color:White;
}


TFOOT.igtbl_IG2007Footer TR TH
{
	background-color:#D8DFEA;
	background-image:none;
	border-width:0px;
}


TBODY.igtbl_IG2007Header TR TH.igtbl_IG2007Label
{
	background-color:White;
	background-image:none;
	border-right-width:1px;
	border-right-color: LightGrey;
	border-bottom-width:0px;
	border-bottom-color:#D0D7E5;
	padding-top:3px;
	padding-bottom:3px;
	height: 10px;
}


TBODY.igtbl_IG2007Header TR TH.igtbl_IG2007ExpArea, TFOOT.igtbl_IG2007Header TR TH.igtbl_IG2007ExpArea
{
	background-color:#D8DFEA;
	background-image:none;
	border-width:1px;
	border-color:#D0D7E5;
	border-top-style:solid;
	border-top-color:Gainsboro;
	border-bottom-style:solid;
	text-align:left;
}


TBODY.igtbl_IG2007Header TR TH.igtbl_IG2007GrpItem
{
}


THEAD.igtbl_IG2007Header TR TH.igtbl_IG2007FxdHeader
{
}


.igtbl_IG2007GroupBandLabel
{
}


TFOOT.igtbl_IG2007Header TR TH.igtbl_IG2007FxdFooter
{
}


.igtbl_IG2007DropDown
{
	background-color:WhiteSmoke;
	font-size:xx-small;
	font-family: Verdana;
	border:solid 1px LightGrey;
}


.igtbl_IG2007DropDownSel
{
}


TBODY.igtbl_IG2007Item TR.igtbl_IG2007Selected TD, TBODY.igtbl_IG2007Item TR TD.igtbl_IG2007Selected, .igtbl_IG2007Selected
{
	background-color:#699BC9;
	border-top-width:0px;
	border-left-width:0px;
	color:White;
}


TBODY.igtbl_IG2007Item TR TD.igtbl_IG2007ActiveBorderTopBottom, .igtbl_IG2007ActiveBorderTopBottom
{
}


TBODY.igtbl_IG2007Item TR TD.igtbl_IG2007ActiveBorderLeft, .igtbl_IG2007ActiveBorderLeft
{
}


TBODY.igtbl_IG2007Item TR TD.igtbl_IG2007ActiveBorderRight, .igtbl_IG2007ActiveBorderRight
{
}


