.BackgroundImage
{
    background-image: url(/SamplesBrowser/SamplesCommon/aspnet/Common/TreeBg.jpg);
    background-repeat: no-repeat;
    height:635px;

}

.TreeBackgroundImage
{
    background-image: url(/SamplesBrowser/SamplesCommon/aspnet/WebDataTree/Organization/MultiTree/DragImageA.png);
    background-repeat: no-repeat;
    background-position:top-left;
           
}
.TreeTopBackgroundImage
{
    background-image: url(/SamplesBrowser/SamplesCommon/aspnet/WebDataTree/Organization/MultiTree/DragImageC.png);
    background-repeat: no-repeat;
    background-position:top;     
    width:510px;
    padding-left:10px;
    height:40px;
    margin-top:20px;
}
        
.boxBackground
{
    background-color: #F7F7F7;
	border: 1px solid #EEEEEE;
	padding: 10px;
	line-height: 12px;
	text-align:center;
	width:636px;
    margin-left:40px;
    clear:both;
}
	              
.boxBackground2
{
    background-color: #F7F7F7;
	border: 1px solid #EEEEEE;
	padding: 10px;
	line-height: 12px;
	text-align:left;
	width:274px;
	float:left;
	margin-left:10px;
	display:inline;
	margin-bottom:10px;
}

#Left .ig_IGControl, #right .ig_IGControl {
    overflow: hidden!important;
}