.igtab_FeatureBrowserTHHolder{width:602px !important;}
.igtab_FeatureBrowserTHContentHolder{width:600px !important;}
.sampleDescription{}
#ctl00_OverviewPanel{margin-top:25px;}   
span#ctl00_ContentLive_Label2, span#ctl00_ContentLive_Label3{clear:left;display:block;float:left;line-height:28px !important;
width:200px !important;
}
div#ctl00_ContentLive_WebDropDown1 {margin:0px 0 3px 10px; float:left !important;}
div#ctl00_ContentLive_UpdatePanel2{clear:left;float:left;margin:8px 0 0 209px;}
.igte_FeatureBrowserEdit{clear:right;float:left;margin:6px 0 0 10px;text-align:right;}
#ctl00_ContentLive_Label1{float:left !important; margin:2px 0 0 129px;}
.ig_FeatureBrowserControl{background-color:transparent !important;}
