#mainSampleContainer .dialog-window { position: static !important; }
#mainSampleContainer .left { float: left; }
#mainSampleContainer .right { float: right; }
#mainSampleContainer .clear { clear: both; }