 .CalendarMargin
{
    margin-left:18px;
    margin-top:6%!important;
    width:87%!important;
}
.ExplorerBarMargin
{
    margin-top:50px;
}
        
.CalendarMargin {
    margin-top:5%;
    width:92%;
}
    .TempCssClass
{
    background-image: none;
    background-color: White;    
}
        