        .itemcontainer
        {
            width: 150px;
            height: 150px;
            float: left;
            border: 1px solid #000;
            margin: 10px;
            overflow: hidden;
            position: relative;
        }