.fullPagePadding
{
    padding-top: 2px;
    padding-left: 3px;
}

.fullPageFloatLeft
{
    float: left;
    padding-right:20px;
    padding-top:5px;
}

#fullPageOptions
{
    height: 35px;
    width: 100%;
}

#fullPageMenuNav
{
    width: 99.2%;
    padding-right: 8px;
}

#fullPageContent
{
    height: 734px;
    width: 100%;
    padding-left: 3px;
}

#fullPageLeftCol
{
    float: left;
    width: 39.8%;
}

#fullPageRightCol
{
    float: right;
    width: 59%;
    padding-right: 8px;
}

