        fieldset
        {
            margin: 5px;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #CCCCCC;
        }
        .fldOptions
        {
            display: block;
            float: left;
            height: 65px;
            margin-top: 0;
            margin-right: 10px;
        }
        .bhvOptions
        {
            display: block;
            float: left;
            height: 90px;
            margin-top: 0;
            margin-right: 10px;
            }
        
        .chkBoxesHolder span
        {
            display: block;
            margin-left: 5px;
        }
        
        .lblFileName
        {
            margin-left: 5px;
        }
        .txtFileName
        {
            margin-left: 11px;
            width: 420px;
        }
        .btnExport
        {
            background: url("/SamplesBrowser/SamplesCommon/aspnet/WebDataGrid/Data/ExcelExporter/WebGrid.png") top left no-repeat;
        }
        .props
        {
            display: block;
            float: left;
        }
        .chkBoxesHolder
        {
            float: left;
        }
        .icoExporter
        {
            background: url("/SamplesBrowser/SamplesCommon/aspnet/WebDataGrid/Data/DocumentExporter/DocumentExporter.png") no-repeat scroll 3px 0 transparent;
            padding-left: 23px;
        }
        
        .icoWebDataGrids
        {
            background: url("/SamplesBrowser/SamplesCommon/aspnet/WebDataGrid/Data/ExcelExporter/WebGrid.png") no-repeat scroll 3px 0 transparent;
            padding-left: 23px;
        }
