<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="frameworkRepository" type="Infragistics.Web.SampleBrowser.Core.Framework.Configuration.FrameworkRepositorySection, Infragistics.Web.SampleBrowser.Core.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" allowDefinition="Everywhere" requirePermission="false" />
    <section name="cmsRepository" type="Infragistics.Web.SampleBrowser.Core.Framework.Configuration.CmsRepositorySection, Infragistics.Web.SampleBrowser.Core.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" allowDefinition="Everywhere" requirePermission="false" />
    <section name="resourcesRepository" type="Infragistics.Web.SampleBrowser.Core.Framework.Configuration.ResourcesRepositorySection, Infragistics.Web.SampleBrowser.Core.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" allowDefinition="Everywhere" requirePermission="false" />
    <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <frameworkRepository>
    <repository name="FrameworkRepository" type="Infragistics.Web.SampleBrowser.Core.Framework.Repository.FrameworkRepository, Infragistics.Web.SampleBrowser.Core.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" initilizeData="~/App_Data/LocalStorage.xml" />
  </frameworkRepository>
  <cmsRepository>
    <repository name="CmsRepository" type="Infragistics.Web.SampleBrowser.Core.Framework.Repository.CmsRepository, Infragistics.Web.SampleBrowser.Core.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" initilizeData="" />
  </cmsRepository>
  <resourcesRepository>
    <repository name="ResourcesRepository" type="Infragistics.Web.SampleBrowser.Core.Framework.Repository.ResourcesRepository, Infragistics.Web.SampleBrowser.Core.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" initilizeData="" />
  </resourcesRepository>
  <infragistics.web enablePersistence="false" persistenceIgnoreLoadingOnPostBack="true" persistenceIgnorePasswords="true" styleSetPath="~/SamplesCommon/aspnet/common/styles/igthemes" styleSetName="Default" />
  <connectionStrings>
    <add name="AdventureWorks_DataConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\storage\{CULTURE}\mdf\AdventureWorks_Data.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="AdventureWorks_DataEntities" connectionString="metadata=res://*/Data.Models.AdventureWorks.AdventureWorksModel.csdl|res://*/Data.Models.AdventureWorks.AdventureWorksModel.ssdl|res://*/Data.Models.AdventureWorks.AdventureWorksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\storage\en-us\mdf\AdventureWorks_Data.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationSamplesOverviewPageUrl" value="/samplesbrowser/AppSamplesOverview.aspx" />
    <add key="TopNavUrlPattern" value="/samplesbrowser/ComponentOverview.aspx?cn={0}" />
    <add key="ApplicationParentRoutePath" value="/products" />
    <add key="ProductFamilyName" value="aspnet" />
    <add key="ApplicationMode" value="offline" />
    <!-- 1033 for US and 1041 for JP-->
    <add key="LanguageID" value="1033" />
    <add key="ApplicationVirtualPath" value="/samplesbrowser" />
    <add key="CmsImagesFolder" value="/uploadedimages/content/products/" />
    <add key="LocalImagesFolder" value="/i/" />
    <add key="SamplesVirtualPath" value="VirtualSamples" />
    <add key="SampleBrowserResourceProviderCacheSyncTime" value="10000" />
    <add key="StorageDataPath" value="~/app_data/storage/" />
    <add key="BaseMdbDataPath" value="/mdb/" />
    <add key="BaseXmlDataPath" value="/xml/" />
    <add key="BaseMdbConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Persist Security Info=True" />
    <add key="BaseSqlConnectionString" value="Data Source=.\SQLEXPRESS;AttachDbFilename={0};Integrated Security=True;User Instance=True" />
    <add key="CodeProviderAssembly" value="Infragistics.Web.SampleBrowser.Core.Framework" />
    <add key="CodeProviderType" value="OfflineCodeProvider" />
    <add key="fileUploadPath" value="/samplesbrowser/Temp/Uploads" />
    <add key="maxFileSizeLimit" value="1000000" />
    <add key="ShowErrors" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--Infragistics Controls-->
        <add tagPrefix="ig" namespace="Infragistics.Web.UI" assembly="Infragistics4.Web.v21.2" />
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.LayoutControls" assembly="Infragistics4.Web.v21.2" />
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.ListControls" assembly="Infragistics4.Web.v21.2" />
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.DataSourceControls" assembly="Infragistics4.Web.v21.2" />
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.EditorControls" assembly="Infragistics4.Web.v21.2" />
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.GridControls" assembly="Infragistics4.Web.v21.2" />
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.NavigationControls" assembly="Infragistics4.Web.v21.2" />
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.DisplayControls" assembly="Infragistics4.Web.v21.2" />
        <add tagPrefix="igjq" namespace="Infragistics.Web.UI.DisplayControls" assembly="Infragistics4.Web.jQuery.v21.2" />
        <add tagPrefix="igjq" namespace="Infragistics.Web.UI.EditorControls" assembly="Infragistics4.Web.jQuery.v21.2" />
        <add tagPrefix="igmisc" namespace="Infragistics.WebUI.Misc" assembly="Infragistics4.WebUI.Misc.v21.2" />
        <add tagPrefix="ig_sched" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics4.WebUI.WebSchedule.v21.2" />
        <add tagPrefix="ig_scheduledata" namespace="Infragistics.WebUI.Data" assembly="Infragistics4.WebUI.WebScheduleDataProvider.v21.2" />
        <add tagPrefix="igsch" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics4.WebUI.WebSchedule.v21.2" />
        <add tagPrefix="igtbar" namespace="Infragistics.WebUI.WebSchedule.UltraWebToolbar" assembly="Infragistics4.WebUI.WebSchedule.v21.2" />
        <add tagPrefix="igtab" namespace="Infragistics.WebUI.WebSchedule.UltraWebTab" assembly="Infragistics4.WebUI.WebSchedule.v21.2" />
        <add tagPrefix="ighedit" namespace="Infragistics.WebUI.WebHtmlEditor" assembly="Infragistics4.WebUI.WebHtmlEditor.v21.2" />
        <add tagPrefix="igchartprop" namespace="Infragistics.UltraChart.Resources.Appearance" assembly="Infragistics4.WebUI.UltraWebChart.v21.2" />
        <add tagPrefix="igchart" namespace="Infragistics.UltraChart.Resources.Appearance" assembly="Infragistics4.WebUI.UltraWebChart.v21.2" />
        <add tagPrefix="igchartdata" namespace="Infragistics.UltraChart.Data" assembly="Infragistics4.WebUI.UltraWebChart.v21.2" />
        <add tagPrefix="igchart" namespace="Infragistics.WebUI.UltraWebChart" assembly="Infragistics4.WebUI.UltraWebChart.v21.2" />
        <add tagPrefix="iggauge" namespace="Infragistics.WebUI.UltraWebGauge" assembly="Infragistics4.WebUI.UltraWebGauge.v21.2" />
        <add tagPrefix="iggauge" namespace="Infragistics.UltraGauge.Resources" assembly="Infragistics4.WebUI.UltraWebGauge.v21.2" />
        <add tagPrefix="iggaugeprop" namespace="Infragistics.UltraGauge.Resources" assembly="Infragistics4.WebUI.UltraWebGauge.v21.2" />
        <add tagPrefix="igcalc" namespace="Infragistics.WebUI.UltraWebCalcManager" assembly="Infragistics4.WebUI.UltraWebCalcManager.v21.2" />
        <add tagPrefix="igtk" namespace="Infragistics.WebUI" assembly="Infragistics4.WebUI.WebResizingExtender.v21.2" />
        <add tagPrefix="igtxt" namespace="Infragistics.WebUI.WebDataInput" assembly="Infragistics4.WebUI.WebDataInput.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add tagPrefix="igmisc" namespace="Infragistics.WebUI.Misc" assembly="Infragistics4.WebUI.Misc.v21.2" />
        <add tagPrefix="ig_sched" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics4.WebUI.WebSchedule.v21.2" />
        <add tagPrefix="ig_scheduledata" namespace="Infragistics.WebUI.Data" assembly="Infragistics4.WebUI.WebScheduleDataProvider.v21.2" />
        <add tagPrefix="igsch" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics4.WebUI.WebSchedule.v21.2" />
        <add tagPrefix="igtbar" namespace="Infragistics.WebUI.WebSchedule.UltraWebToolbar" assembly="Infragistics4.WebUI.WebSchedule.v21.2" />
        <add tagPrefix="igtab" namespace="Infragistics.WebUI.WebSchedule.UltraWebTab" assembly="Infragistics4.WebUI.WebSchedule.v21.2" />
        <add tagPrefix="ighedit" namespace="Infragistics.WebUI.WebHtmlEditor" assembly="Infragistics4.WebUI.WebHtmlEditor.v21.2" />
        <add tagPrefix="igchartprop" namespace="Infragistics.UltraChart.Resources.Appearance" assembly="Infragistics4.WebUI.UltraWebChart.v21.2" />
        <add tagPrefix="igchart" namespace="Infragistics.UltraChart.Resources.Appearance" assembly="Infragistics4.WebUI.UltraWebChart.v21.2" />
        <add tagPrefix="igchartdata" namespace="Infragistics.UltraChart.Data" assembly="Infragistics4.WebUI.UltraWebChart.v21.2" />
        <add tagPrefix="igchart" namespace="Infragistics.WebUI.UltraWebChart" assembly="Infragistics4.WebUI.UltraWebChart.v21.2" />
        <add tagPrefix="iggauge" namespace="Infragistics.WebUI.UltraWebGauge" assembly="Infragistics4.WebUI.UltraWebGauge.v21.2" />
        <add tagPrefix="iggauge" namespace="Infragistics.UltraGauge.Resources" assembly="Infragistics4.WebUI.UltraWebGauge.v21.2" />
        <add tagPrefix="iggaugeprop" namespace="Infragistics.UltraGauge.Resources" assembly="Infragistics4.WebUI.UltraWebGauge.v21.2" />
        <add tagPrefix="igcalc" namespace="Infragistics.WebUI.UltraWebCalcManager" assembly="Infragistics4.WebUI.UltraWebCalcManager.v21.2" />
        <add tagPrefix="igtk" namespace="Infragistics.WebUI" assembly="Infragistics4.WebUI.WebResizingExtender.v21.2" />
        <add tagPrefix="igtxt" namespace="Infragistics.WebUI.WebDataInput" assembly="Infragistics4.WebUI.WebDataInput.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <!--Infragistics Samples Browser Custom-->
        <add tagPrefix="igsb" namespace="LocalizationUtils" />
        <!--Infragistics Samples Browser-->
        <add tagPrefix="ig" namespace="Infragistics.Web.SampleBrowser.Core.Framework.Controls" assembly="Infragistics.Web.SampleBrowser.Core.Framework" />
        <add tagPrefix="ig" namespace="Infragistics.Web.SampleBrowser.Core.Framework.Web.UI.WebControls" assembly="Infragistics.Web.SampleBrowser.Core.Framework" />
        <!--Microsoft Controls-->
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="AppSettingsUrl" type="UrlResolvingExpressionBuilder" />
      </expressionBuilders>
      <assemblies>
        <!--Infragistics Assemblies-->
        <add assembly="Infragistics4.Web.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Shared.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Documents.Excel.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Documents.Word.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Documents.Reports.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Documents.IO.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Misc.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebDataInput.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebSchedule.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebScheduleDataProvider.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebHtmlEditor.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebResizingExtender.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebChart.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebGauge.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebCalcManager.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.Web.jQuery.v21.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <!--Microsoft Assemblies-->
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DomainServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.DomainServices.LinqToSql, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
      <codeSubDirectories>
        <add directoryName="cs" />
      </codeSubDirectories>
    </compilation>
    <httpHandlers>
      <add path="WebCaptchaImage.axd" verb="GET,HEAD" type="Infragistics.Web.UI.EditorControls.CaptchaImageHandler" validate="true" />
      <add verb="GET" type="Infragistics.Web.UI.EditorControls.UploadStatusHandler" path="IGUploadStatusHandler.ashx" />
    </httpHandlers>
    <httpModules>
      <add name="IGUploadModule" type="Infragistics.Web.UI.EditorControls.UploadModule" />
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="IGUploadModule" type="Infragistics.Web.UI.EditorControls.UploadModule" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="WebCaptchaImage" path="WebCaptchaImage.axd" preCondition="integratedMode" verb="GET,HEAD" type="Infragistics.Web.UI.EditorControls.CaptchaImageHandler" />
      <add name="IGUploadStatusHandler" path="IGUploadStatusHandler.ashx" verb="*" type="Infragistics.Web.UI.EditorControls.UploadStatusHandler" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <!-- Note that for the Chart samples you need to remove /samplesbrowser/ from their IMG and Path URLs in each of the samples (you will get server errors for that)-->
      <rules>
        <rule name="Samples to SamplesBrowser" stopProcessing="true">
          <match url="^samplesbrowser(.*)$" ignoreCase="true" />
          <action type="Rewrite" url="/{R:1}" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^localhost:20200$" />
            <add input="{PATH_INFO}" pattern="^/samplesbrowser" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Infragistics.Web.SampleBrowser.Core.Framework.Codedom.CSharp.IgCSharpCodeProvider, Infragistics.Web.SampleBrowser.Core.Framework" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>