.persistence-container { margin: 10px 20px 0 0; float: left; width: 200px; }
.persistence-label { width: 200px; float: left; }
.persistence-editor { width: 200px; float: left; }
.clear { clear: both; }