        .MainContent
        {
            border: 1px solid #CCC;
            width: 680px;
            padding: 25px;
            padding-left: 10px;
            padding-right: 10px;
            background-image: url(/SamplesBrowser/SamplesCommon/aspnet/Common/TreeBg.jpg);
            background-position: 0px -100px;
        }